<!DOCTYPE html>
<html>
  <head>
    <title>  </title>

  </head>

  <body>

    <%= link_to 'Logout', '/logout', method: :delete, class:'button'%>
    <div class='container'>

    <%= yield %>

    </div>
  </body>
</html>
