<h1>Welcome to <%= @user.username%>'s homepage! </h1>

<h3>Here are the shoes reviewed by <%=@user.username%>:</h3>
<ul>
  <% @user.reviewed_shoes.each do |shoe|%>
  <li> <%= link_to shoe.model, shoe_path(shoe)%> </li>
  <% end %>
</ul>
